body {
  margin: 0;
  padding: 0;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  background-image: url("../assets/Imagecode.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: 20;
  position: relative;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.heading {
  display: flex;
  align-items: center;
  background-color: #000;
  justify-content: center;
  width: 100vw;
  height:fit-content;
}
.leaderboard h1 {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  line-clamp: 1;
}

.list-container {
  width: 60%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 0px;

}

.name-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  transition: transform 0.3s ease, background 0.3s ease;
}


.name-list:hover {
  transform: scale(1.05);
}

.rank {
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.2rem;
}

.name-list div {
  display: flex;
  align-items: center;
}

.name-list span {
  font-size: 1.1rem;
}




.name-list:first-child {
  background-color: #efde8e;
  color: #000;
  background: linear-gradient(90deg, rgba(197,158,63,1) 0%, rgba(235,221,146,1) 50%, rgba(197,158,63,1) 100%);
}

.name-list:nth-child(2) {
  background: linear-gradient(90deg, rgba(157,157,157,1) 0%, rgba(223,223,223,1) 50%, rgba(157,157,157,1) 100%);
  color: #000;

}

.name-list:nth-child(3) {
  background: linear-gradient(90deg, rgba(197,108,64,1) 0%, rgba(219,173,153,1) 50%, rgba(197,108,64,1) 100%);
}

.rank {
  color: #000;
  background-color: #fff;
  border-radius: 0 0 20px 0;
  border: 1px solid black;
  padding: 5px 15px;
  margin-right: 10px;
}
